.ims2__section {
  position: relative;
  overflow: hidden;
}

.ims2__spacer__88 {
  height: 88px;
}

.ims2__contain {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.ims2__base-grid__6-col-mobile {
  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

#ims2__div-1 {
  grid-area: span 1 / span 12 / span 1 / span 12;

  @media (max-width: 767px) {
    grid-area: span 1 / span 6 / span 1 / span 6;
  }
}

.ims2__text__center {
  text-align: center;
}

.ims2__text__display-eyebrow {
  font-family: "JetBrains Mono", serif;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 0.0625em;
  text-transform: uppercase;

  &.ims2__text__gradient-purple {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#bd50ff, #007fff);
    background-clip: text;
  }
}

.ims2__spacer__40 {
  height: 40px;
}

.ims2__logos__4-cols {
  display: grid;
  place-items: center;
  justify-content: space-around;
  grid-auto-columns: 1fr;
  grid-template: "." / 1fr 1fr 1fr 1fr;
  gap: 65px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

#ims2__image-1,
#ims2__image-2,
#ims2__image-3,
#ims2__image-4,
#ims2__image-5,
#ims2__image-6,
#ims2__image-7,
#ims2__image-8 {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  justify-self: center;

  @media (max-width: 767px) {
    grid-column: span 1 / span 1;
  }
}

.ims2__show-only__desktop-tablet {
  @media (max-width: 767px) {
    display: none;
  }
}

.ims2__spacer__160 {
  height: 160px;
}

.ims2__show-only__mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.ims2__spacer__80 {
  height: 80px;
}