.ts3__position-relative {
  position: relative;
}

.ts3__section {
  position: relative;
  overflow: hidden;

  &.ts3__sticky-nav {
    z-index: 5;
    position: sticky;
    top: 0;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.ts3__show-only__desktop-tablet {

  @media (max-width: 767px) {
    display: none;
  }
}

.ts3__spacer__32 {
  height: 32px;
}

.ts3__show-only__mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.ts3__spacer__24 {
  height: 24px;
}

.ts3__contain {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.ts3__base-grid {
  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}

#ts3__text-contain-1 {
  grid-area: span 1 / span 7 / span 1 / span 7;

  @media (max-width: 767px) {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

.ts3__text__display-xsmall {
  margin: 0;
  font-family: "Mulish", serif;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.75em;
  letter-spacing: .01em;

  @media (max-width: 767px) {
    font-size: 1.125em;
    line-height: 1.5em;
  }
}

#ts3__text-contain-2 {
  grid-area: span 1 / span 5 / span 1 / span 5;
  justify-self: end;

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
    justify-self: start;
  }
}

.ts3__button__list-copy-2 {
  display: flex;
  padding-top: 0;
  margin-top: 0;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-columns: max-content;
  grid-template-rows: auto;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 8px;

  @media (max-width: 767px) {
    row-gap: 10px;
    flex-flow: row;
    grid-auto-flow: row;
    justify-items: start;
    overflow: auto;
  }

  @media (max-width: 479px) {
    width: 100%;
    overflow: auto;
  }
}

.ts3__link-block-7 {
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
  position: relative;
  background-color: #d0d3d9;
  color: #494a4c;
  border-radius: 100px;
  padding: 6px 12px;
  font-family: "Mulish", serif;
  font-size: .75em;
  font-weight: 600;
  line-height: 1em;
  transition: all .2s, color .2s;

  @media (max-width: 767px) {
    white-space: nowrap;
  }

  &.ts3__w--current {
    background-color: #fab798;
    font-family: "Mulish", serif;
    font-weight: 600;
  }
}

.ts3__w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.ts3__hr__line {
  background-color: #d0d3d9;
  flex: none;
  height: 1px;
}

.ts3__bg__white {
  z-index: -1;
  background-color: #fff;
  position: absolute;
  inset: 0%;
}

#ts3__dbtcloud {
  scroll-margin-top: 500px;
}

.ts3__spacer__120 {
  height: 120px;
}

.ts3__spacer__60 {
  height: 60px;
}

.ts3__text-block-39 {
  display: inline-flex;
  font-family: "JetBrains Mono", serif;
  font-size: 0.875em;
  padding: 8px 16px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: #222;
  gap: 12px;
}

.ts3__text-block-39 img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.ts3__spacer__80 {
  height: 80px;
}

.ts3__spacer__40 {
  height: 40px;
}

#ts3__quickstart-grid-1,
#ts3__dbt-grid-1 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;

  @media (max-width: 991px) {
    grid-column: span 5 / span 5;
  }

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
  }
}

.ts3__text__display-large {
  margin: 0;
  font-family: "Mulish", serif;
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1.25em;
  letter-spacing: .01em;

  @media (max-width: 767px) {
    font-size: 1.75em;
  }
}

.ts3__spacer__16 {
  height: 16px;
}

.ts3__button__arrow {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  z-index: 2;
  transition: color .2s;
  color: #222;
  background-color: #0000;
  justify-content: flex-start;
  align-items: center;
  font-family: "Mulish", serif;
  font-weight: 700;
  transition: all;
  display: inline-block;
  background-position: 305.219px 50%;

  &::after {
    content: "→";
    position: relative;
    right: 0px;
    display: inline;
    margin-left: 10px;
    transition: right 0.5s ease-out;
  }

  &:hover {
    background-position: 315.219px 50%;

    &::after {
      right: -10px;
    }
  }

  &.ts3__blue-60 {
    color: #306bea;

    @media (max-width: 767px) {
      white-space: normal;
    }
  }

  &.ts3__white {
    color: white;
  }
}

.ts3__video-autoplay {
  box-shadow: 0 2px 10px 0 #dfe1e5;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  padding-top: 64.82%;
  position: relative;

  @media (max-width: 991px) {
    margin-top: 40px;
  }
}

#ts3__quickstart-grid-2,
#ts3__dbt-grid-2 {
  grid-area: 1 / 6 / 2 / 13;

  @media (max-width: 767px) {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

.ts3__w-background-video {
  color: #fff;
  height: 500px;
  position: relative;
  overflow: hidden;

  & video {
    vertical-align: baseline;
    display: inline-block;
    /* background-image: url('ts3__quickstart-video-poster.jpg'); */
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    inset: -100%;
  }
}

.ts3__video-autoplay__video {
  z-index: 1;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.ts3__video-autoplay__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.ts3__video-autoplay__button {
  cursor: pointer;
  z-index: 2;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
  position: relative;
  display: flex;
  gap: 10px;
  background-color: #306bea;
  color: white;
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 15px;
}

.ts3__w-inline-block {
  max-width: 100%;
}

.ts3__video-autoplay-play-arrow {
  width: 13px;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.ts3__vertical__32 {
  display: grid;
  column-gap: 16px;
  row-gap: 2em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
}

#ts3__quickstart-grid-3 {
  grid-area: span 1 / span 8 / span 1 / span 8;

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
  }
}

.ts3__div-block-523 {
  border-radius: 4px;
  overflow: hidden;
}

.ts3__div-block-524 {
  height: 370px;
  position: relative;
  overflow: hidden;

  @media (max-width: 479px) {
    height: 250px;
  }
}

.ts3__image-140 {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
  object-position: 50% 0%;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.ts3__image-141 {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  height: 54px;
  position: absolute;
  inset: 16px auto auto 16px;
}

.ts3__div-block-522 {
  background-color: #ffdbc0;
  padding: 28px;

  & .ts3__button__arrow {
    background-position: 121.516px 50%;

    &:hover {
      background-position: 131.516px 50%;
    }
  }
}

.ts3__block-quote-2 {
  margin: 0 0 10px;
  border-left: 5px solid #222;
  font-size: 18px;
  line-height: 22px;
  border-left-style: none;
  margin-bottom: 0;
  padding: 0;
  font-style: normal;
}

.ts3__text__display-small {
  font-family: "Mulish", serif;
  font-size: 1.375em;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: .01em;

  @media (max-width: 767px) {
    font-size: 1.25em;
  }
}

.ts3__text__body-large {
  letter-spacing: -.02125em;
  font-size: 1.25em;
  line-height: 1.5em;
}

#ts3__quickstart-grid-4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: stretch;

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
  }
}

.ts3__div-block-521 {
  background-color: #001525;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  padding: 24px;

  &.ts3__button__arrow {
    background-position: 121.859px 50%;

    &:hover {
      background-position: 131.859px 50%;
    }
  }
}

.ts3__spacer__12 {
  height: 12px;
}

.ts3__image-142 {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  height: 54px;
}

.ts3__bg__dune-025 {
  z-index: -1;
  background-color: #faf9f7;
  position: absolute;
  inset: 0%;
}

#ts3__dbt-grid-3 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: stretch;

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
  }
}

.ts3__div-block-525 {
  background-color: #1e0c09;
  color: white;
  border-radius: 4px;
  flex-flow: column;
  justify-content: space-between;
  padding: 24px;
  display: flex;
}