.dds4__section {
  position: relative;
  overflow: hidden;
  display: block;
}

.dds4__show-only__desktop-tablet {
  @media (max-width: 767px) {
    display: none;
  }
}

.dds4__spacer__160 {
  height: 160px;
}

.dds4__show-only__mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.dds4__spacer__88 {
  height: 88px;
}

.dds4__contain {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.dds4__base-grid {
  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  &.dds4__gutter-large {
    gap: 88px;

    @media (max-width: 991px) {
      column-gap: 20px;
      row-gap: 40px;
    }
  }
}

#dds4__heading {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

.dds4__text__display-eyebrow {
  font-family: "JetBrains Mono", serif;
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;

  &.dds4__text__gradient-purple {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#bd50ff, #007fff);
    background-clip: text;
  }
}

.dds4__spacer__16 {
  height: 16px;
}

.dds4__text__display-medium {
  font-family: "Mulish", serif;
  font-size: 1.75em;
  font-weight: 800;
  line-height: 1.35em;

  @media (max-width: 767px) {
    font-size: 1.5em;
  }
}

#dds4__div-1,
#dds4__div-2,
#dds4__div-3 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: start;

  @media (max-width: 767px) {
    grid-column: span 2 / span 2;
  }
}

.dds4__text__display-small {
  font-family: "Mulish", serif;
  font-size: 1.375em;
  font-weight: 800;
  line-height: 2em;
  letter-spacing: 0.01em;

  @media (max-width: 767px) {
    /* font-size: 1.25em; */
  }
}

.dds4__text__body-large {
  font-size: 1.25em;
  line-height: 1.5em;
  overflow-wrap: anywhere;
  /* letter-spacing: -0.02125em; */
}

.dds4__spacer__60 {
  height: 60px;
}

.dds4__checkmark-list {
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 20px;
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  padding-left: 0;
  list-style-type: none;
}

.dds4__checkmark-list__item {
  display: flex;
  padding-left: 40px;
  margin-bottom: 0;
  width: auto;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-image: url('dds4__check.svg');
  text-align: left;
  column-gap: 10px;

  &.dds4__blue {
    background-image: url('dds4__check-blue.svg');
  }

  & a {
    cursor: pointer;
    z-index: 2;
    color: #306bea;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
  }
}

.dds4__destination__source-tag {
  display: inline-block;
  line-height: 0.625em;
  font-family: "JetBrains Mono", serif;
  font-weight: 500;
  font-size: 0.625em;
  padding: 3px 12px 4px;
  border-radius: 20px;
  white-space: nowrap;
  color: #222;
  background-color: #d0d3d9;

  &.dds4__inline {
    margin-left: 5px;
    position: relative;
    top: -3px;
  }
}

.dds4__image-21 {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  z-index: 0;
  object-fit: contain;
  position: relative;
}