.home__section__3 {
  display: block;
  position: relative;
  overflow: hidden;
}

.home__s3__contain {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home__s3__content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px;
  background-color: #001525;
  border-radius: 4px;
  gap: 16px;
}

@media screen and (min-width: 991px) {
  .home__s3__content-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* .home__s3__content-block {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 36px;
  gap: 16px;
  background-color: #001525;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .home__s3__content-block {
    grid-template-rows: auto auto auto;
    justify-items: start;
  }
}

@media screen and (max-width: 767px) {
  .home__s3__content-block {
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .home__s3__content-block {
    grid-template-columns: 1fr;
    padding: 20px;
  }
} */

.home__s3__text-display-small {
  font-family: "Mulish", sans-serif;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: .01em;
  line-height: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.home__s3__text-citron-60 {
  color: #c9f227;
}

@media screen and (max-width: 767px) {
  .home__s3__text-citron-60 {
    /* font-size: 1.25em; */
  }
}

.home__s3__text-para {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
}

.home__s3__w-button {
  padding: 8px 16px;
  background-color: #8cb1ff;
  color: #222;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  min-width: 120px;
  font-size: 1em;
}

.home__s3__w-button:hover {
  color: #001525;
  background-color: #b2cbff;
  border-color: #b2cbff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .home__s3__content-block {
    align-items: flex-start;
  }

  .home__s3__text-display-small, .home__s3__text-para {
    text-align: left;
  }

  .home__s3__w-button {
    width: fit-content;
    /* margin-top: 16px; */
  }
}

.spacer__88 {
  height: 88px;
}