.dds6__section {
  display: block;
  position: relative;
  overflow: hidden;
}

.dds6__show-only__desktop-tablet {
  @media (max-width: 767px) {
    display: none;
  }
}

.dds6__spacer__160 {
  height: 160px;
}

.dds6__show-only__mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.dds6__spacer__88 {
  height: 88px;
}

.dds6__contain {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.dds6__base-grid {
  display: grid;
  width: 100%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}

#dds6__div-1 {
  grid-area: 1 / 2 / 2 / 12;

  @media (max-width: 991px) {
    grid-area: span 1 / span 12 / span 1 / span 12;
  }

  @media (max-width: 767px) {
    grid-column: span 4 / span 4;
  }
}

.dds6__div-block-99 {
  display: flex;
  position: relative;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  background-image: linear-gradient(192deg, #bd50ff 63%, #007fff);
}

.dds6__div-block-105 {
  background-color: #f7f8fa;
  border-radius: 4px;
  padding: 40px;

  @media (max-width: 767px) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
  }
}

.dds6__text__blockquote {
  text-indent: -1em;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.5em;

  @media (max-width: 767px) {
    font-size: 1.5em;
  }
}

.dds6__text-span {
  background-image: url('dds6__rectangle.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 9px;
  padding-right: 9px;
  overflow: visible;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.dds6__div-block-101 {
  background-color: #f7f8fa;
  padding: 10px 12px;
  position: absolute;
  inset: auto 5% -20px auto;

  @media (max-width: 767px) {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: static;
  }
}

.dds6__text__display-eyebrow {
  font-family: "JetBrains Mono", serif;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25em;
  letter-spacing: 0.0625em;
}

.dds6__spacer__88 {
  height: 88px;
}

.dds6__bg__grey-05 {
  z-index: -1;
  background-color: #f7f8fa;
  position: absolute;
  inset: 0%;
}